@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<br />
<br />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-1">
            Organisation:
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(x => x.Organisation, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-1">
            Username:
        </div><div class="col-md-3">@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <div class="col-md-1">
            Password:
        </div><div class="col-md-3">
            @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control" })
        </div>
    </div><br />

    <button type="submit" class="=btn btn-primary">Login</button>
    if (Model != null && !string.IsNullOrEmpty(Model.Error))
    {
        <br />
        <p style="color:red">@Model.Error</p>
    }
}
