
@{
    ViewData["Title"] = "AddQuestions";
}

<h2>AddQuestions</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="UploadPython">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input class="form-control" type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="Upload" />
        </div>
    </div>
</form>