@model CreateSetViewModel
@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript">
    function NextClick() {
        if (document.getElementById("nextButton").innerHTML == "Next") {
            document.getElementById("CreatetionForm").submit();
        }
    }

    function GroupSelectorOnChange() {
        var e = document.getElementById("groupSelector");
        var strOut = e.options[e.selectedIndex].value;
        if (strOut == "-1") {
            document.getElementById("nextButton").innerHTML = "Create"
        } else {
            document.getElementById("nextButton").innerHTML = "Next"
        }
    }

    $(document).ready(GroupSelectorOnChange)
</script>

<h2>Create New Question Set</h2>
<br />
<div id="pageSelector">
    <form asp-action="Build" method="post" id="CreatetionForm">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.SelectFromList) Select questions from a list
                </label>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RandomQuestions) Randomise Questions
                </label>
            </div>
            @Html.DropDownListFor(m => m.SetType, new SelectList(CreateSetViewModel.SetTypes, "SetType_ID", "SetType_Name"), new { @class = "form-control" })
            <br />
            @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.Groups, "GroupID", "Group_Name"), new { @class = "form-control", onchange= "GroupSelectorOnChange()", id="groupSelector" })
        </div>
        <button class="btn btn-primary" type="button" onclick="NextClick()" id="nextButton">Next</button>
    </form>
</div>