@model QuestionSetViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (!Model.PerQuestion)
{
<div id="Question-Form">
    @{ Html.RenderPartial("_FullSet", Model); }
</div>
}
else
{
    @foreach (var Question in Model.questions)
    {

        <div id="Question:@Question.question.GetQuestion()">
            <p>Q: @Question.question.GetQuestion() </p>
            <form asp-controller="Set" asp-action="Checkquestion" data-ajax="true" data-ajax-method="POST" data-ajax-update="#answer-@Question.questionID" data-ajax-mode="replace" id="Question-@Question.questionID-Form" method="post" novalidate="novalidate" autocomplete="off">
                <div id="answer-@Question.questionID">
                    @{ Html.RenderPartial("_Question", Question); }
                </div>
            </form>
        </div>
        <br />
    }
}
