@model AutoQuestionGenerator.DatabaseModels.Organisations
@{
    ViewData["Title"] = "Update";
}

<script>
    function Confirm() {
        var r = confirm("Are you sure you want to update these details as they are required for students to gain access?");
        if (r == true) {

        }
    }
</script>

<h2>Update Details</h2>

<form asp-action="Update">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">

        </div>
    </div>
</form>