@model List<AutoQuestionGenerator.DatabaseModels.Users>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br />
@foreach(var usr in Model)
{
<p>@usr.First_Name @usr.Last_Name @usr.Last_Logged_In</p>
    <br />
}

