@model WorksetViewModel[]
@{
    ViewData["Title"] = "Index";
}

<style>
    #workTbl {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #workTbl td, #workTbl th {
            border: 1px solid #ddd;
            padding: 3px;
        }

        #workTbl tr:nth-child(odd) {
            background-color: #9d9393
        }

        #workTbl tr:hover {
            background-color: #ddd;
        }

        #workTbl th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0d6fa8;
            color: white;
        }
</style>

<h2>Index</h2>
<div class="row">
    <div class="col-md-4" style="">
        <form asp-controller="Work" asp-action="UpdateWork" data-ajax="true" data-ajax-method="POST" data-ajax-update="#table" data-ajax-mode="replace" id="Update--Form" method="post" novalidate="novalidate">
            @Html.Hidden("updateID", 1)
            <button class="btn btn-primary" type="submit">Work Due Next</button>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-controller="Work" asp-action="UpdateWork" data-ajax="true" data-ajax-method="POST" data-ajax-update="#table" data-ajax-mode="replace" id="Update--Form" method="post" novalidate="novalidate">
            @Html.Hidden("updateID", 2)
            <button class="btn btn-primary" type="submit">Overdue Work</button>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-controller="Work" asp-action="UpdateWork" data-ajax="true" data-ajax-method="POST" data-ajax-update="#table" data-ajax-mode="replace" id="Update--Form" method="post" novalidate="novalidate">
            @Html.Hidden("updateID", 3)
            <button class="btn btn-primary" type="submit">Already Completed Work</button>
        </form>
    </div>
</div>
<div id="table">
    <partial name="_currentWorkTable" model="@Model" />
</div>