@model WorkViewModel[]

@{
    ViewData["Title"] = "Workset";
}

<h2>Workset - @Model[0].WorkSetName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                WorkId
            </th>
            <th>
                Question Type
            </th>
            <th>
                Seed
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seed)
            </td>
        </tr>
        }
    </tbody>
</table>
